.Chart {
    min-height: 100vh;
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    position: relative;
    z-index: 1;

    &_top,
    &_bot {
        width: 100%;

    }

    &_decor {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;

        @media (max-aspect-ratio: 1/1) {
            padding-bottom: 20vh;
            background: #1DC17A;
        }
    }

    &_chart {
        align-items: end;
        position: relative;
        z-index: 1;
        top: 10px;

        img {
            min-width: 100vw;
        }
    }

    &_clouds {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &_cloud1 {
        top: 150px;
        left: -500px;
        animation: cloudRight 40s infinite alternate;
    }

    &_cloud2 {
        top: 250px;
        left: 600px;
        animation: cloudLeft 60s infinite alternate;
    }

    &_chel1 {
        align-items: end;
        position: relative;
        z-index: 2;
        left: 10vw;

        img {
            min-width: 15vw;
        }
    }

    &_media {
        display: flex;
        justify-content: center;
        height: 0px;
        position: relative;
        z-index: 5;
        align-items: end;
        top: -16px;
    }

    &_chel2 {
        align-items: end;
        position: relative;
        z-index: 2;
        left: 30vw;
        top: -5vw;

        img {
            min-width: 15vw;
        }
    }

    &_logo {
        width: 100% !important;
        align-items: start;
        position: relative;
        z-index: 2;

        img {
            width: 700px;
            max-width: 90vw;
        }
    }
}